#landing-main-page-box {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: space-around;
  background-image: url("assets/peopleonboat.png");
  height: 88vh;
  background-size: 1500px;
  overflow: hidden;
  padding: 5px;
}

#google-button {
  scale: 1.75;
  padding: 5vh;
}

#main-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6vh;
  margin-left: -10vh;
}

h1 {
  font-size: 20vh;
  line-height: 4vh;
}

h2 {
  font-size: 7vh;
}

#logopic {
  margin: 3vh;
  width: 15vh;
  height: inherit;
}

#footer {
  text-align: center;
  align-items: center;
  color: rgb(60, 60, 60);

}

#footer div {
  padding: 2vh;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 0;
  align-items: center;

  display: flex;
  justify-content: space-around;
}

#main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
}

#sample-entry {
  width: 35vh;
  height: inherit;
  border-radius: 10px;
  box-shadow:  0px 0px 10px 2px rgb(213, 213, 213);
}

/* The Modal (background) */
#modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
#log-modal {
  text-align: center;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow:  0px 0px 5px 1px rgb(233, 245, 249);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
}

.input {
  padding: 1vh;
  margin: 1vh;
  border-radius: 6px;
  border: 1px solid;
} 

button {
  color: black;
  font-size: 2vh;
  padding: 2vh;
  border-radius: 6px;
  border: none;
  background-color: rgb(220, 220, 220);
}

button:hover {
  color: black;
  font-size: 2vh;
  padding: 2vh;
  border-radius: 6px;
  border: none;
  background-color: rgb(179, 179, 179);
  cursor: pointer;
}

#dropdown {
  width: 100px;
  background: purple;
}
#item {
  display: none;
}
#dropdown:hover #item{
  display: block;
}