body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  overflow: hidden;
}

#landing-main-page-box {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-around;
  /* background: linear-gradient(
    203deg,
    rgba(222, 252, 255, 1) 0%,
    rgba(255, 255, 255, 1) 39%,
    rgba(255, 255, 255, 1) 52%,
    rgba(233, 251, 255, 1) 60%,
    rgb(185, 243, 255) 100%
  ); */

  height: 88.5vh;
  background-size: 1500px;
  overflow: hidden;
  padding: 5px;
}

#landing-backgrounds {
  filter: blur(10px);
}

#landing-background {
  z-index: 0;
  width: 2000px;
  height: 2000px;
  border-radius: 50%;
  position: absolute;
  background-color: #d3faff;
  animation: landing-background 30s linear infinite;
}

#landing-background-2 {
  z-index: 1;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  position: absolute;
  background-color: rgb(230, 251, 255);
  animation: landing-background 25s linear infinite;
}

@keyframes landing-background {
  0% {
    transform: rotate(0deg);
    scale: 100%;
    margin-left: 500px;
    border-radius: 50%;
  }
  50% {
    scale: 20%;
    margin-left: -500px;
    border-radius: 0%;
  }
  100% {
    transform: rotate(360deg);
    scale: 100%;
    margin-left: 500px;
    border-radius: 50%;
  }
}

#google-button {
  scale: 1.75;
  padding: 5vh;
}

#main-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6vh;
  margin-left: -5vh;
}

h1 {
  font-size: 20vh;
  line-height: 3vh;
}

h2 {
  font-size: 7vh;
}

#logopic {
  margin: 3vh;
  width: 18vh;
  height: inherit;
}

#footer {
  text-align: center;
  align-items: center;
  color: rgb(60, 60, 60);
}

#footer div {
  position: relative;
  z-index: 3;
  padding: 2vh;
  line-height: 0;
  align-items: center;

  display: flex;
  justify-content: space-around;
  background-color: rgb(245, 250, 255);
  height: 6.3vh;
}

#main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  margin: 15px;
  margin-right: 25px;
}

#sample-entry {
  width: 80vh;
  height: inherit;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px rgb(213, 213, 213);
}

/* The Modal (background) */
#modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
#log-modal {
  text-align: center;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px rgb(233, 245, 249);
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
}

#added-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  overflow: scroll;
  background-color: rgb(245, 250, 255);
  padding: 5%;
  margin: 1vh;
  border: 1px solid rgb(0, 0, 0);
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(218, 228, 238);
  border-radius: 10px;
  margin: 1vh;
}

.tag-value {
  margin: 5px;
  font-size: 3vh;
}

.error {
  margin: 2vh;
  color: red;
  font-size: larger;
}

.input {
  padding: 1vh;
  margin: 1vh;
  border-radius: 6px;
  border: 1px solid;
}

button {
  color: rgb(108, 108, 108);
  font-size: 2.3vh;
  padding: 1.9vh 2.7vh 1.9vh;
  border-radius: 6px;
  border: none;
  background-color: #d1f3ff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

button:hover {
  color: black;
  font-size: 2.3vh;
  padding: 1.9vh 2.7vh 1.9vh;
  border-radius: 6px;
  border: none;
  background-color: rgb(179, 179, 179);
  cursor: pointer;
  background-color: #b5d4df;
  box-shadow: 0px 2px 2px 0px rgb(220, 220, 220);
}

#dropdown {
  width: 100px;
  background: purple;
}
#item {
  display: none;
}
#dropdown:hover #item {
  display: block;
}

/* #header {
  
} */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  background-color: rgb(245, 250, 255);
  height: 12vh;
  padding: 5px;
  box-shadow: 0px 4px 2px 0px rgb(220, 220, 220);
}

#left-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85vh;
}

#logo-nav {
  margin: 3vh;
  width: 10vh;
  height: inherit;
}

#prof-in-nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  margin-right: 12vh;
  width: 13%;
  height: 8vh;
}

#interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-tag {
  padding: 0.5vh;
  margin: 1vh;
  background-color: #d1f3ff;
  width: 35%;
  overflow: hidden;
  overflow: scroll;
  border-radius: 10px;
}

#profile-pic {
  border-radius: 50%;
  margin: 5px;
  width: 8vh;
}

/* Profile */
#profile-page {
  display: flex;
  padding: 10px;
  margin: 20px;
  height: 67vh;
}

#prof-info-box {
  text-align: center;
  background-color: rgb(245, 250, 255);
  border-radius: 10px;
  padding: 2vh;
  margin: 4vh;
  overflow: hidden;
  overflow: scroll;
  height: 60vh;
}
#big-profile-pic {
  border-radius: 50%;
  margin: 5px;
  width: 20vh;
}
#book-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#book-menu {
  padding: 1vh;
  width: 100vh;
}

#today-book {
  height: 55vh;
  overflow: hidden;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background: #f8f8f8b1;
  padding: 10px;
}

.page {
  margin: 5px 5px 5px 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  margin-bottom: 5px;
  font-size: large;
  text-align: justify;
}

#create-page {
  padding: 5px;
  height: 15vh;
  border-radius: 10px;
  margin: 5px;

  background-color: rgb(245, 250, 255);
}

#right-bar-profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3vh;
}

.page-divider-top {
  border: 10px solid #2085a7;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 18px;
  overflow: visible;
  position: relative;
}

.page-divider-top:after {
  position: absolute;
  border: 10px solid #2292b8;
  border-radius: 2px 2px 0px 0px;
  right: -10px;
  width: 50%;
  content: "";
  margin-bottom: 10px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.publicity-info {
  background-color: rgb(255, 144, 144);
  border-radius: 10px;
  border: 1px solid rgb(255, 0, 0);
  width: 10vh;
  line-height: 2px;
  text-align: center;
  margin-bottom: 5px;
}

.page-divider-bottom {
  border: 2px solid #f1f1f1;
  border-radius: 0px 0px 2px 2px;
  margin-top: 10px;
}

.left-page-header {
  margin: 1px;
}

.page-img {
  border-radius: 10px;
  margin: 5px;
  margin-left: 20px;
  width: 30vh;
}

.book-top {
  border: 20px solid #0c89a5;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 18px;
}

.book-start {
  background: #f8f8f865;
  padding: 10px;
}

#unlogged-right-div {
  margin-right: 32vh;
}

.extra-page-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 66%;
  margin: 0 auto;
  height: 75vh;
  overflow-y: scroll;
  font-size: large;
}

#modal-upload-buttons {
  display: flex;
  justify-content: center;
  gap: 4vh;
}

#modal-forms {
  font-size: larger;
  display: grid;
  width: 60%;
  grid-template-columns: 0.5fr 1fr;
  align-items: center;
  justify-content: center;
  row-gap: 1vh;
  margin-inline: auto;
}

#modal-forms label {
  grid-column: 1;
  text-align: left;
}

#aws-upload {
  padding: 1vh;
}

/*
Loading stuff from loading.css */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-inline: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(0, 0, 0);
  border-color: rgb(153, 240, 255) transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  margin-inline: auto;
}

/* Friends page */

.retrieved-friend-query {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
  background-color: rgb(58, 136, 160);
}

.friend-profile-pic {
  border-radius: 50%;
  margin: 5px;
  width: 5vh;
}

.remove-friend-button {
  background-color: rgb(255, 214, 214);
  color: black;
  padding: 1vh 2vh 1vh 2vh;
}

.remove-friend-button:hover {
  background-color: rgb(164, 76, 76);
  color: black;
}

#friend-menu {
  display: flex;
  justify-content: space-evenly;
  margin: 1vh;
  height: 73vh;
}

#friends-search-info {
  width: 27vh;
  margin: 5px;
  text-align: center;
  background-color: rgb(245, 250, 255);
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
}

#friend-buttons {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30vh;
}

#friends-list {
  background-color: rgb(245, 250, 255);
  border-radius: 10px;
  text-align: center;
  width: 27vh;
  padding: 2vh;
  margin: 5px;
  max-height: 33vh;
  overflow-y: hidden;
  overflow-y: scroll;
}

.friend-in-list {
  display: flex;
  justify-content: center;
  gap: 0.8vh;
  align-items: center;
  font-size: larger;
  background-color: rgb(229, 234, 238);
  border-radius: 10px;
  margin: 1vh;
  padding: 1vh;
}

/* Requests section */
.request-in-list {
  font-size: larger;
  background-color: rgb(222, 227, 231);
  border-radius: 10px;
  margin: 1vh;
  padding: 0.8vh;
}

.request-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.request-buttons {
  display: flex;
  justify-content: center;
  gap: 1vh;
}

.request-profile-pic {
  border-radius: 50%;
  margin: 5px;
  width: 5vh;
}

.deny-request-button {
  background-color: rgb(255, 214, 214);
  color: black;
  padding: 1vh;
}

.deny-request-button:hover {
  background-color: rgb(164, 76, 76);
  color: black;
  padding: 1vh;
}

.accept-request-button {
  background-color: rgb(135, 219, 123);
  color: black;
  padding: 1vh;
}

.accept-request-button:hover {
  background-color: rgb(100, 163, 92);
  color: black;
  padding: 1vh;
}

/* End of requests section */

/* Posts */

#friend-post-section {
  width: 100vh;
  height: 72.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(249, 252, 255);
  margin-right: 0;
  margin-left: 0;
  overflow-y: hidden;
  overflow-y: scroll;
}

.post {
  padding: 1px;
  background-color: white;
  width: 80vh;
  margin: 3vh;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 1px rgb(220, 220, 220);
}

.friend-post-top-bar {
  display: flex;
  font-size: x-large;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  padding: 1px 20px;
}

.friend-post-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vh;
  background-color: #d1f3ff;
  height: 7vh;
  border-radius: 10px;
  padding: 3px;
}

.post-image {
  width: 80vh;
}

.friend-post-bottom-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  padding: 1px 20px;
  text-align: left;
}

.post-content-info {
  display: flex;
  font-size: x-large;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  line-height: 0px;
}

.post-caption {
  font-size: large;
  margin: 10px;
}

.hashtag {
  color: rgb(108, 108, 108);
}
