body {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: hidden;
}
#landing-main-page-box {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: space-around;
  background-image: url("assets/peopleonboat.png");
  height: 88vh;
  background-size: 1500px;
  overflow: hidden;
  padding: 5px;
}

#google-button {
  scale: 1.75;
  padding: 5vh;
}

#main-left {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6vh;
  margin-left: -10vh;
}

h1 {
  font-size: 20vh;
  line-height: 4vh;
}

h2 {
  font-size: 7vh;
}

#logopic {
  margin: 3vh;
  width: 15vh;
  height: inherit;
}

#footer {
  text-align: center;
  align-items: center;
  color: rgb(60, 60, 60);
}

#footer div {
  padding: 2vh;
  margin-left: 15%;
  margin-right: 15%;
  line-height: 0;
  align-items: center;

  display: flex;
  justify-content: space-around;
  background-color: rgb(245, 250, 255);
  height: 6vh;
}

#main-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:flex-end;
}

#sample-entry {
  width: 35vh;
  height: inherit;
  border-radius: 10px;
  box-shadow:  0px 0px 10px 2px rgb(213, 213, 213);
}

/* The Modal (background) */
#modal {
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
#log-modal {
  text-align: center;
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow:  0px 0px 5px 1px rgb(233, 245, 249);
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 50%; /* Could be more or less, depending on screen size */
}

#added-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  overflow: scroll;
  background-color: rgb(245, 250, 255);
  padding: 5%;
  margin: 1vh;
  border: 1px solid rgb(0, 0, 0);
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: rgb(218, 228, 238);
  border-radius: 10px;
  margin: 1vh;
}

.tag-value {
  margin: 5px;
  font-size: 3vh;
}

.input {
  padding: 1vh;
  margin: 1vh;
  border-radius: 6px;
  border: 1px solid;
} 

button {
  color: rgb(108, 108, 108);
  font-size: 2.3vh;
  padding: 1.9vh 2.7vh 1.9vh;
  border-radius: 6px;
  border: none;
  background-color: #d1f3ff;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover {
  color: black;
  font-size: 2.3vh;
  padding: 1.9vh 2.7vh 1.9vh;
  border-radius: 6px;
  border: none;
  background-color: rgb(179, 179, 179);
  cursor: pointer;
  background-color: #b5d4df;
  box-shadow: 0px 2px 2px 0px rgb(220, 220, 220);
}

#dropdown {
  width: 100px;
  background: purple;
}
#item {
  display: none;
}
#dropdown:hover #item{
  display: block;
}

/* #header {
  
} */

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
  background-color: rgb(245, 250, 255);
  height: 12vh;
  padding: 5px;
  box-shadow: 0px 3px 2px 0px rgb(220, 220, 220);

}

#left-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 85vh;
}

#logo-nav {
  margin: 3vh;
  width: 10vh;
  height: inherit;
}

#prof-in-nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
  margin-right: 12vh;
  width: 13%;
  height: 8vh;
}

#interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-tag {
  padding: 0.5vh;
  margin: 1vh;
  background-color: #d1f3ff;
  width: 35%;
  overflow: hidden;
  overflow: scroll;
  border-radius: 10px;
}

#profile-pic {
  border-radius: 50%;
  margin: 5px;
  width: 8vh;
}

/* Profile */
#profile-page {
  display: flex;
  padding: 10px;
  margin: 20px;
  height: 67vh;
}

#prof-info-box {
  text-align: center;
  background-color: rgb(245, 250, 255);
  border-radius: 10px;
  padding: 2vh;
  margin: 4vh;
  overflow: hidden;
  overflow: scroll;
  height:60vh
}
#big-profile-pic {
  border-radius: 50%;
  margin: 5px;
  width: 20vh;
}
#book-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#book-menu {
  padding: 7vh;
  width: 100vh;
}

#today-book {
  height: 50vh;
  overflow: hidden;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  background: #f8f8f8b1;
  padding: 10px;
}

.page {
  margin: 5px 5px 5px 5px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 2px;
  margin-bottom: 5px;
}

#profile-friends-list {
  background-color: rgb(245, 250, 255);
  border-radius: 10px;
  text-align: center;
  width: 27vh;
  padding: 2vh;
  margin: 5px;
  max-height: 30vh;
}

#create-page {
  padding: 5px;
  height: 15vh;
  border-radius: 10px;
  margin: 5px;

  background-color: rgb(245, 250, 255);
}

#right-bar-profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-divider-top {
  border: 10px solid #2085a7;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 18px;
  overflow: visible;
  position: relative
}

.page-divider-top:after {
  position: absolute;
  border: 10px solid #2292b8;
  border-radius: 2px 2px 0px 0px;
  right: -10px;
  width: 50%;
  content: '';
  margin-bottom: 10px;
}

.page-header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.page-divider-bottom {
  border: 2px solid #f1f1f1;
  border-radius: 0px 0px 2px 2px;
  margin-top: 10px;
}

.page-img {
  border-radius: 10px;
  margin: 2px;
  width: 30vh;
}

.book-top {
  border: 20px solid #0c89a5;
  border-radius: 2px 2px 0px 0px;
  margin-bottom: 18px;
}

.book-start {
  background: #f8f8f865;
  padding: 10px;
}

#unlogged-right-div {
  margin-right: 32vh;
}

.extra-page-content {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  width: 65%;
  margin: 0 auto;
}
